.text-on-background {
  position: absolute;
  bottom: 4rem;
  right: 2rem;
  text-align: right;
  color: white;
}
@media (min-width: 900px) {
 .boxes {
  display:grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap:3%;
  margin:2em 0;
  margin-bottom:260px;
  --translation: 0
 }
 .boxes .box {
  width:100%;
  height:0;
  padding-bottom:65%;
  border-width:0;
  background:inherit;
  transform:translateY(var(--translation))
 }
 .boxes .box:nth-child(odd) {
  --translation: calc(var(--skew-padding))
 }
 .boxes .box:nth-child(even) {
  --translation: calc(var(--skew-padding) * 0.5)
 }
}
@media (max-width: 899px) {
 .boxes {
  display:flex;
  flex-wrap:wrap
 }
 .boxes .box {
  flex:0 0 50%;
  max-width:50%;
  padding:0 1rem
 }
}
@media (max-width: 799px) {
 .boxes .box {
  flex:0 0 100%;
  max-width:100%;
  padding:0
 }
}
p, h2, h3 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size: 1.15rem;
}
.header-plasma20 {
  background: radial-gradient(circle, #c203c5 0%, #4e02a7 80%);
  color: white;
}
.header-plasma20 a, .header-plasma20 a:hover {
  color: white;
}


.feature {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center
}
.feature>div {
 padding:20px
}
.feature>div:first-child {
 flex-basis:75%
}
.feature>div:last-child {
 flex-basis:25%
}
.feature>div.party {
 flex-basis:75%
}
@media (min-width: 800px) {
 .feature {
  flex-direction:row
 }
 .feature:nth-child(2n+1)>div:first-child {
  order:1
 }
 .feature:nth-child(2n+1)>div:last-child {
  order:0
 }
}
h1, h2 {
  @media (prefers-color-scheme: dark) {
    color: white !important;
  }
}
