<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/amor-4.12.1.tar.xz">amor-4.12.1</a></td>
   <td align="right">170kB</td>
   <td><tt>34ce3bcf72102606dd605da242a781818de3aa40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/analitza-4.12.1.tar.xz">analitza-4.12.1</a></td>
   <td align="right">175kB</td>
   <td><tt>784438e4d485696ee19222b968dca10cef13a562</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ark-4.12.1.tar.xz">ark-4.12.1</a></td>
   <td align="right">224kB</td>
   <td><tt>788e43ec97e9c3c60ce494c784ed41c298a7c8fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/audiocd-kio-4.12.1.tar.xz">audiocd-kio-4.12.1</a></td>
   <td align="right">50kB</td>
   <td><tt>b81345eac7352543487fdba3965934bdeca43dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/blinken-4.12.1.tar.xz">blinken-4.12.1</a></td>
   <td align="right">546kB</td>
   <td><tt>905222c0d165d8daff59565e1904a552c7f49947</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/bomber-4.12.1.tar.xz">bomber-4.12.1</a></td>
   <td align="right">376kB</td>
   <td><tt>04136f04d2b3fb2a20e538f271348e5579973218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/bovo-4.12.1.tar.xz">bovo-4.12.1</a></td>
   <td align="right">98kB</td>
   <td><tt>75bb930e2ca6840ec3b361407356b419a79b6d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/cantor-4.12.1.tar.xz">cantor-4.12.1</a></td>
   <td align="right">322kB</td>
   <td><tt>5801e506d173fb112f24582046c8c2f229d0646f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/cervisia-4.12.1.tar.xz">cervisia-4.12.1</a></td>
   <td align="right">359kB</td>
   <td><tt>ad5e9d7c4d74de7474507a8edca90837e6837105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/dolphin-plugins-4.12.1.tar.xz">dolphin-plugins-4.12.1</a></td>
   <td align="right">54kB</td>
   <td><tt>a94700ee13ffe0ededb335f4302837b48f285098</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/dragon-4.12.1.tar.xz">dragon-4.12.1</a></td>
   <td align="right">381kB</td>
   <td><tt>d0e44d6c57b19d7e89ceb6a41495a25a848ead73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ffmpegthumbs-4.12.1.tar.xz">ffmpegthumbs-4.12.1</a></td>
   <td align="right">19kB</td>
   <td><tt>87ab18322b1fce9f7215a1f7c018a4e23e5ba0a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/filelight-4.12.1.tar.xz">filelight-4.12.1</a></td>
   <td align="right">280kB</td>
   <td><tt>e85b1f4af7fbec72c7deb1457334315857934664</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/granatier-4.12.1.tar.xz">granatier-4.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d2a6fe02465556d81e1317b5083e69bf00414a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/gwenview-4.12.1.tar.xz">gwenview-4.12.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>00fd0946c1ce1c927eb3a01c09ebb066a6b81692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/jovie-4.12.1.tar.xz">jovie-4.12.1</a></td>
   <td align="right">370kB</td>
   <td><tt>6c8dd0554500154d06d49c0838b7b237fdbca9d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/juk-4.12.1.tar.xz">juk-4.12.1</a></td>
   <td align="right">418kB</td>
   <td><tt>b3ebad2892846b8c8b4e61e1c3c5550e3ac5d3c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kaccessible-4.12.1.tar.xz">kaccessible-4.12.1</a></td>
   <td align="right">19kB</td>
   <td><tt>47e4ecb6be465756fe8d13d531a5b14c6e5da437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kactivities-4.12.1.tar.xz">kactivities-4.12.1</a></td>
   <td align="right">84kB</td>
   <td><tt>ac1feed30a4f15f6b8cbe003f768f236741527c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kajongg-4.12.1.tar.xz">kajongg-4.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>656dc03d3726c080e382e8e15123a3233c3538cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kalgebra-4.12.1.tar.xz">kalgebra-4.12.1</a></td>
   <td align="right">264kB</td>
   <td><tt>c28a35f5c784d9626f51890d4103346ac919684e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kalzium-4.12.1.tar.xz">kalzium-4.12.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>46622e958496e018a3834618d5fc7e815621b692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kamera-4.12.1.tar.xz">kamera-4.12.1</a></td>
   <td align="right">34kB</td>
   <td><tt>6d6aa2d1e879e8e5c1c2669efc08e641e6e25e86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kanagram-4.12.1.tar.xz">kanagram-4.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>0db08cabda3e59127cde5c677b9dc1d45ea77413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kapman-4.12.1.tar.xz">kapman-4.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4de3a6598dc9aa2fdca35e8bf94d647e99c2f9f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kapptemplate-4.12.1.tar.xz">kapptemplate-4.12.1</a></td>
   <td align="right">681kB</td>
   <td><tt>66afaef97c616652f0848af4f4c0044647c4575b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kate-4.12.1.tar.xz">kate-4.12.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>2f90e4a0bd452350ce37d735cd710a53763bb728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/katomic-4.12.1.tar.xz">katomic-4.12.1</a></td>
   <td align="right">641kB</td>
   <td><tt>91b451018c2868e28024b4b99a40920de4ba36b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kblackbox-4.12.1.tar.xz">kblackbox-4.12.1</a></td>
   <td align="right">251kB</td>
   <td><tt>5f4bc7d4b8ae148c8334a80afb812ef8fad5b95a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kblocks-4.12.1.tar.xz">kblocks-4.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a66ae615bf5b2c8d86814ced8e722f359d6c3aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kbounce-4.12.1.tar.xz">kbounce-4.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>8958588cae2dc59e1364ff866875b6a75d17bf2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kbreakout-4.12.1.tar.xz">kbreakout-4.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f2e484bfedc1e18e035793d9dc55b70036b55b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kbruch-4.12.1.tar.xz">kbruch-4.12.1</a></td>
   <td align="right">876kB</td>
   <td><tt>12fbc445327ef3e5535b5e302ee417f915615fce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kcachegrind-4.12.1.tar.xz">kcachegrind-4.12.1</a></td>
   <td align="right">229kB</td>
   <td><tt>a53aa33eac375ecbd0d3ca88dd1e2d84a1de8c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kcalc-4.12.1.tar.xz">kcalc-4.12.1</a></td>
   <td align="right">78kB</td>
   <td><tt>4a54f3939a60a0f2381f07494a0026e6a1668449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kcharselect-4.12.1.tar.xz">kcharselect-4.12.1</a></td>
   <td align="right">82kB</td>
   <td><tt>e3f6b68071a2fe5eb8c112156cac10c0a96f6805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kcolorchooser-4.12.1.tar.xz">kcolorchooser-4.12.1</a></td>
   <td align="right">4kB</td>
   <td><tt>195afb9b2f5f39e1a243ba174bf62c882fba5cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kcron-4.12.1.tar.xz">kcron-4.12.1</a></td>
   <td align="right">170kB</td>
   <td><tt>caa299a77659a120cc52a03c70fa0e1634419c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdeartwork-4.12.1.tar.xz">kdeartwork-4.12.1</a></td>
   <td align="right">134MB</td>
   <td><tt>7b1de59e6fbe58e2e8244058e14521531b85c6da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-baseapps-4.12.1.tar.xz">kde-baseapps-4.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a08013c4f3e7221e597f98c310c323e40e03d280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-base-artwork-4.12.1.tar.xz">kde-base-artwork-4.12.1</a></td>
   <td align="right">7.0MB</td>
   <td><tt>8fbede2ac019701a401037e134fd651eee082d65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-dev-scripts-4.12.1.tar.xz">kde-dev-scripts-4.12.1</a></td>
   <td align="right">251kB</td>
   <td><tt>0ebba76728e51bbe282cbcab1abe332e8ec2b96d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-dev-utils-4.12.1.tar.xz">kde-dev-utils-4.12.1</a></td>
   <td align="right">50kB</td>
   <td><tt>903484dea42e8e20d19e820dc18c3e34e5b128a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdegraphics-mobipocket-4.12.1.tar.xz">kdegraphics-mobipocket-4.12.1</a></td>
   <td align="right">14kB</td>
   <td><tt>fd6d4836af12a5d7a70fd7dd42f9ae13e96c1a1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdegraphics-strigi-analyzer-4.12.1.tar.xz">kdegraphics-strigi-analyzer-4.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>6df1734ce87e0c221cb1da949b118b214bbe9ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdegraphics-thumbnailers-4.12.1.tar.xz">kdegraphics-thumbnailers-4.12.1</a></td>
   <td align="right">40kB</td>
   <td><tt>589378df8d9e0a457cf8c5e8d64f95de720f5037</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdelibs-4.12.1.tar.xz">kdelibs-4.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>b6c1b22a0fc3c9789d29ffef4d24b41afdf357bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdenetwork-filesharing-4.12.1.tar.xz">kdenetwork-filesharing-4.12.1</a></td>
   <td align="right">26kB</td>
   <td><tt>19b787112886dc5940e4c20f45fc0643ff8ff1f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdenetwork-strigi-analyzers-4.12.1.tar.xz">kdenetwork-strigi-analyzers-4.12.1</a></td>
   <td align="right">14kB</td>
   <td><tt>755d0f5d07286fa3d9063a226c5325422c9c1634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdepim-4.12.1.tar.xz">kdepim-4.12.1</a></td>
   <td align="right">13MB</td>
   <td><tt>6ea8fb59a725885801460adc492ee53ab4676d59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdepimlibs-4.12.1.tar.xz">kdepimlibs-4.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9ebd1a46bf86f08668b49d83fd58d23b168f742a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdepim-runtime-4.12.1.tar.xz">kdepim-runtime-4.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0df4bc061f5c6aca896361358befb58a0425347f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdeplasma-addons-4.12.1.tar.xz">kdeplasma-addons-4.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>39092708f02c9a2405ce4bdecd77447d70e0f9e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-runtime-4.12.1.tar.xz">kde-runtime-4.12.1</a></td>
   <td align="right">7.4MB</td>
   <td><tt>e62d0b6a8fea172ac4b36a16004f10161406872a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdesdk-kioslaves-4.12.1.tar.xz">kdesdk-kioslaves-4.12.1</a></td>
   <td align="right">352kB</td>
   <td><tt>f884ed3ee58dd3706e3d19e602d9b01dfb1dceec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdesdk-strigi-analyzers-4.12.1.tar.xz">kdesdk-strigi-analyzers-4.12.1</a></td>
   <td align="right">17kB</td>
   <td><tt>37a5e2d923b01cd26206eea418b073b2b350d9c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdesdk-thumbnailers-4.12.1.tar.xz">kdesdk-thumbnailers-4.12.1</a></td>
   <td align="right">11kB</td>
   <td><tt>454800a70c13dc1ca2aa00632f7a17542cc49235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-wallpapers-4.12.1.tar.xz">kde-wallpapers-4.12.1</a></td>
   <td align="right">86MB</td>
   <td><tt>71f2e6383045a9534108fa2c19d47711876b6a03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdewebdev-4.12.1.tar.xz">kdewebdev-4.12.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5de0260509f92cb76070345410c005bd726a1022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdf-4.12.1.tar.xz">kdf-4.12.1</a></td>
   <td align="right">145kB</td>
   <td><tt>4c03a6aa159b8d0ee6cd7c6bbce59518221cecf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdiamond-4.12.1.tar.xz">kdiamond-4.12.1</a></td>
   <td align="right">3.9MB</td>
   <td><tt>818694a378b589359873c399169d46084c85c5cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kdnssd-4.12.1.tar.xz">kdnssd-4.12.1</a></td>
   <td align="right">25kB</td>
   <td><tt>7bff235e65b147409c5646c2c770fa328595d8d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kfloppy-4.12.1.tar.xz">kfloppy-4.12.1</a></td>
   <td align="right">51kB</td>
   <td><tt>46324b522910ec593f1385c3b23d46a45e444fcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kfourinline-4.12.1.tar.xz">kfourinline-4.12.1</a></td>
   <td align="right">275kB</td>
   <td><tt>b7e3f79ebe9fa814e207731a2ddd9e5ba971b90a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kgamma-4.12.1.tar.xz">kgamma-4.12.1</a></td>
   <td align="right">22kB</td>
   <td><tt>fb55b02c07236b1a1caed1130cf33f140840759b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kgeography-4.12.1.tar.xz">kgeography-4.12.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>102de2e87f906799409be44fd90d329577b7763c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kget-4.12.1.tar.xz">kget-4.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c8700ba295007693d914c34e7fa9d767f5ea7035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kgoldrunner-4.12.1.tar.xz">kgoldrunner-4.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>72bb50726190f400357ff8e2f0c5c7a48262d5a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kgpg-4.12.1.tar.xz">kgpg-4.12.1</a></td>
   <td align="right">784kB</td>
   <td><tt>40622c63b2286685c44b2984e0438abcbdf82055</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/khangman-4.12.1.tar.xz">khangman-4.12.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>61e0f06a3bf58daf54af3550910bed1cfccf221b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kig-4.12.1.tar.xz">kig-4.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ed8735579b6b8a11011d91500e1fb8879b0d2339</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kigo-4.12.1.tar.xz">kigo-4.12.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>8b8da67cf8437fb82e61edd4853d90db7c15b375</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/killbots-4.12.1.tar.xz">killbots-4.12.1</a></td>
   <td align="right">938kB</td>
   <td><tt>73f6532a4522fd4e8f4509be46f679da0ef027af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kimono-4.12.1.tar.xz">kimono-4.12.1</a></td>
   <td align="right">910kB</td>
   <td><tt>e689bad826eac85b582162245281434a2cec4c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kiriki-4.12.1.tar.xz">kiriki-4.12.1</a></td>
   <td align="right">115kB</td>
   <td><tt>a0d9c88a0d22ab387002b7614dae45651541a8f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kiten-4.12.1.tar.xz">kiten-4.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>46de382b3bb396fbb452d0f7321f1cb59b172748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kjumpingcube-4.12.1.tar.xz">kjumpingcube-4.12.1</a></td>
   <td align="right">159kB</td>
   <td><tt>e1cf5c046ec3f6cf4e5ebd81639195f6c201d8ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/klettres-4.12.1.tar.xz">klettres-4.12.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>3ae4c65380389127a594745367c94a12c3b38ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/klickety-4.12.1.tar.xz">klickety-4.12.1</a></td>
   <td align="right">765kB</td>
   <td><tt>8cccffd1ee722031a5687ca2ac245c651bafb74c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/klines-4.12.1.tar.xz">klines-4.12.1</a></td>
   <td align="right">927kB</td>
   <td><tt>1e38e14ec09a8c85fe01d8b05842b73a0677ee35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kmag-4.12.1.tar.xz">kmag-4.12.1</a></td>
   <td align="right">84kB</td>
   <td><tt>041327e9a241660b1b64defe4585d78f1e2fc0f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kmahjongg-4.12.1.tar.xz">kmahjongg-4.12.1</a></td>
   <td align="right">979kB</td>
   <td><tt>31a0cd86defacf047ba6262558c99be2025d58d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kmines-4.12.1.tar.xz">kmines-4.12.1</a></td>
   <td align="right">613kB</td>
   <td><tt>2080764de83c1e824ece6c733b79f68047cb6f9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kmix-4.12.1.tar.xz">kmix-4.12.1</a></td>
   <td align="right">371kB</td>
   <td><tt>9e0ed9b2911c6e7a7428c3d1c1051ef99c72c8a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kmousetool-4.12.1.tar.xz">kmousetool-4.12.1</a></td>
   <td align="right">35kB</td>
   <td><tt>0bc87c97727a335818ee3af18d7a602d32683aef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kmouth-4.12.1.tar.xz">kmouth-4.12.1</a></td>
   <td align="right">300kB</td>
   <td><tt>27870db994d4456053dbf5ae5b6b98c73df2da6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kmplot-4.12.1.tar.xz">kmplot-4.12.1</a></td>
   <td align="right">639kB</td>
   <td><tt>8c1aecff4a1cd46987002d65636f28289196f12a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/knavalbattle-4.12.1.tar.xz">knavalbattle-4.12.1</a></td>
   <td align="right">829kB</td>
   <td><tt>2d688ffddeee640610f34386761b7e9562fbe2be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/knetwalk-4.12.1.tar.xz">knetwalk-4.12.1</a></td>
   <td align="right">763kB</td>
   <td><tt>7504c886a9d902ded470b254090c9f8fb059a918</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kolf-4.12.1.tar.xz">kolf-4.12.1</a></td>
   <td align="right">745kB</td>
   <td><tt>9db55c09cab7a113adc5835beffab45e779ec632</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kollision-4.12.1.tar.xz">kollision-4.12.1</a></td>
   <td align="right">202kB</td>
   <td><tt>363701ac6b12c56b84290902f28dca7458171e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kolourpaint-4.12.1.tar.xz">kolourpaint-4.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>a6ff6eef4da4b8b26be17421e8fac521c9d6596e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kompare-4.12.1.tar.xz">kompare-4.12.1</a></td>
   <td align="right">336kB</td>
   <td><tt>efe51ebc8572f2320092ca203cd02d74c01005b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/konquest-4.12.1.tar.xz">konquest-4.12.1</a></td>
   <td align="right">406kB</td>
   <td><tt>2b7704bbced29d2bd71097a4014df87a7fe31e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/konsole-4.12.1.tar.xz">konsole-4.12.1</a></td>
   <td align="right">440kB</td>
   <td><tt>d54eab1494b4e36db1f9385273e6fa09260a4e28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kopete-4.12.1.tar.xz">kopete-4.12.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>e6ad13cb81842961df0e6e9ecda309b47db0af29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/korundum-4.12.1.tar.xz">korundum-4.12.1</a></td>
   <td align="right">156kB</td>
   <td><tt>69e3c248c867be083c29e1603a795cc69b82c670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kpat-4.12.1.tar.xz">kpat-4.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>12675bdd9925af0182bdead9fb2ade92cf778137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kppp-4.12.1.tar.xz">kppp-4.12.1</a></td>
   <td align="right">680kB</td>
   <td><tt>c5f5f42a07cca80b1fc060602103694fd76a702d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/krdc-4.12.1.tar.xz">krdc-4.12.1</a></td>
   <td align="right">388kB</td>
   <td><tt>7a2592e98188c7542d95affd9bc1e811dd50112f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kremotecontrol-4.12.1.tar.xz">kremotecontrol-4.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ef698de5c645a55d56bfdb9ed9953654d751d98c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kreversi-4.12.1.tar.xz">kreversi-4.12.1</a></td>
   <td align="right">353kB</td>
   <td><tt>f06c760835bea29b1775d2ca7e7091bacc9c92d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/krfb-4.12.1.tar.xz">krfb-4.12.1</a></td>
   <td align="right">456kB</td>
   <td><tt>c401a3f40e852658e46bfdebd998979fc72e0d0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kross-interpreters-4.12.1.tar.xz">kross-interpreters-4.12.1</a></td>
   <td align="right">127kB</td>
   <td><tt>d119972529acb916fddccd38fbd79f6a7e32a2e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kruler-4.12.1.tar.xz">kruler-4.12.1</a></td>
   <td align="right">125kB</td>
   <td><tt>9134119f03fdad6865178f8606d8aea3b0d4611d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ksaneplugin-4.12.1.tar.xz">ksaneplugin-4.12.1</a></td>
   <td align="right">12kB</td>
   <td><tt>da3bc2a710ae737b67933058135f5b44090dda30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kscd-4.12.1.tar.xz">kscd-4.12.1</a></td>
   <td align="right">90kB</td>
   <td><tt>fc933edf33d7d51c2e5454ff650972913d941872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kshisen-4.12.1.tar.xz">kshisen-4.12.1</a></td>
   <td align="right">132kB</td>
   <td><tt>3d7f0d435f5b95d42f9978959a01cb432f07b100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ksirk-4.12.1.tar.xz">ksirk-4.12.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>f253d1c146841339586950e693c96feff348eb9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ksnakeduel-4.12.1.tar.xz">ksnakeduel-4.12.1</a></td>
   <td align="right">312kB</td>
   <td><tt>924a74f01665f821f62029478505f2dbfa089e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ksnapshot-4.12.1.tar.xz">ksnapshot-4.12.1</a></td>
   <td align="right">251kB</td>
   <td><tt>23c905f13abdbc0195c471e783c684f37894dc36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kspaceduel-4.12.1.tar.xz">kspaceduel-4.12.1</a></td>
   <td align="right">246kB</td>
   <td><tt>701418e76a80eb0bb33c941d4a3c92087638ed85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ksquares-4.12.1.tar.xz">ksquares-4.12.1</a></td>
   <td align="right">77kB</td>
   <td><tt>9a9da0ede52ce830cfc2fbb85bd79f541fd50d34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kstars-4.12.1.tar.xz">kstars-4.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>ab02618c554d4538a76a54e7919a12766b59c2d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ksudoku-4.12.1.tar.xz">ksudoku-4.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>181eca8f2f122dbacdd02a6bad177932d13650e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ksystemlog-4.12.1.tar.xz">ksystemlog-4.12.1</a></td>
   <td align="right">373kB</td>
   <td><tt>8aee7c0ccfb00e247723caad350320f46f2b5124</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kteatime-4.12.1.tar.xz">kteatime-4.12.1</a></td>
   <td align="right">98kB</td>
   <td><tt>b9fd4989680d0a619643d976224363e1fbd9a749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ktimer-4.12.1.tar.xz">ktimer-4.12.1</a></td>
   <td align="right">143kB</td>
   <td><tt>e5d5b4f80617aa434626cfa60fb7fe54cda901d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ktouch-4.12.1.tar.xz">ktouch-4.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ba4c019369fd00504164addbd9389c47ba33a0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ktuberling-4.12.1.tar.xz">ktuberling-4.12.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>b9c267b4ac7273c0a5797c4ed80a8b9d3631c381</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kturtle-4.12.1.tar.xz">kturtle-4.12.1</a></td>
   <td align="right">183kB</td>
   <td><tt>19b00f907c81c38e3056d5245da7a7ab83735be1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/ktux-4.12.1.tar.xz">ktux-4.12.1</a></td>
   <td align="right">106kB</td>
   <td><tt>722908833c5066e043f3b4007a28b57eb84a852f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kubrick-4.12.1.tar.xz">kubrick-4.12.1</a></td>
   <td align="right">104kB</td>
   <td><tt>7cb19977169329a002572733cfde3b0f7e05f42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kuser-4.12.1.tar.xz">kuser-4.12.1</a></td>
   <td align="right">131kB</td>
   <td><tt>539fdc9b26094d6ce36b2786d2db7fb6bd84afc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kwallet-4.12.1.tar.xz">kwallet-4.12.1</a></td>
   <td align="right">445kB</td>
   <td><tt>0c9efaf3a2424a005126cc293babb5357680381f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kwordquiz-4.12.1.tar.xz">kwordquiz-4.12.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>d5b6362f094fac1d405e7b173c5d4e580d4c9934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkcddb-4.12.1.tar.xz">libkcddb-4.12.1</a></td>
   <td align="right">154kB</td>
   <td><tt>85228b8e9acb96faf163049f94a040b8e4117728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkcompactdisc-4.12.1.tar.xz">libkcompactdisc-4.12.1</a></td>
   <td align="right">73kB</td>
   <td><tt>9a73b47ef6d832a99dfe0e89e6b58d4b4aa3f930</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkdcraw-4.12.1.tar.xz">libkdcraw-4.12.1</a></td>
   <td align="right">97kB</td>
   <td><tt>6c13e5b2fc0fccb057639d1e563e8d36fec96929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkdeedu-4.12.1.tar.xz">libkdeedu-4.12.1</a></td>
   <td align="right">204kB</td>
   <td><tt>cf3a05a3aac37fabca43d3554097ab63bf24ddca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkdegames-4.12.1.tar.xz">libkdegames-4.12.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>98100f3074a25f9a004f85fdc4b0adbb3ae4407e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkexiv2-4.12.1.tar.xz">libkexiv2-4.12.1</a></td>
   <td align="right">132kB</td>
   <td><tt>9cb3fdaa777a7030a9d15dec38dbb90c32c0e7d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkipi-4.12.1.tar.xz">libkipi-4.12.1</a></td>
   <td align="right">92kB</td>
   <td><tt>b79ecdfc3d5c9527c8de15b123b53ff397fcf237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkmahjongg-4.12.1.tar.xz">libkmahjongg-4.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>599e25397abd037cc9e3ea3dbf69c08f48370d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libkomparediff2-4.12.1.tar.xz">libkomparediff2-4.12.1</a></td>
   <td align="right">54kB</td>
   <td><tt>4fc475fe6259610a8c86b71aa3db25ba19e0263d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/libksane-4.12.1.tar.xz">libksane-4.12.1</a></td>
   <td align="right">78kB</td>
   <td><tt>21229e29126df27b457ffaf140e9fabd4d9f5765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/lokalize-4.12.1.tar.xz">lokalize-4.12.1</a></td>
   <td align="right">826kB</td>
   <td><tt>7a52fc582529701c9a8468e058bce5f6f53f10e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/lskat-4.12.1.tar.xz">lskat-4.12.1</a></td>
   <td align="right">907kB</td>
   <td><tt>4305717c2706dcc926f9c0cac3d2fc414f8d36b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/marble-4.12.1.tar.xz">marble-4.12.1</a></td>
   <td align="right">17MB</td>
   <td><tt>fa418ec92b6cd0f70d19e085725120f75c43e910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/mplayerthumbs-4.12.1.tar.xz">mplayerthumbs-4.12.1</a></td>
   <td align="right">26kB</td>
   <td><tt>81dd79aba8181b4882d37cd06f2caa209ed4bd55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/nepomuk-core-4.12.1.tar.xz">nepomuk-core-4.12.1</a></td>
   <td align="right">371kB</td>
   <td><tt>61f06d7044fb5bd3adf2b09820f95cb898604540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/nepomuk-widgets-4.12.1.tar.xz">nepomuk-widgets-4.12.1</a></td>
   <td align="right">47kB</td>
   <td><tt>66ecafe692cf847da00516cfeb4f5c94360c3c85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/okteta-4.12.1.tar.xz">okteta-4.12.1</a></td>
   <td align="right">480kB</td>
   <td><tt>ce33435b8ff57912e1cf3f116b6d366c66385e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/okular-4.12.1.tar.xz">okular-4.12.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>79bb43dab9292b6fd1dfd4201b3cffbf8be0be5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/oxygen-icons-4.12.1.tar.xz">oxygen-icons-4.12.1</a></td>
   <td align="right">219MB</td>
   <td><tt>ee5d1658c9880e556b7e9304844fee026fab8c12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/pairs-4.12.1.tar.xz">pairs-4.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>1554da922cc5bec126eda3d9b72f16cc4bc02162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/palapeli-4.12.1.tar.xz">palapeli-4.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9ef771d4d0ec54936f91422166b25e4de4d0ce35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/parley-4.12.1.tar.xz">parley-4.12.1</a></td>
   <td align="right">7.6MB</td>
   <td><tt>d4b33f7d0a18cb2c4013b0707d4d361661d66610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/perlkde-4.12.1.tar.xz">perlkde-4.12.1</a></td>
   <td align="right">39kB</td>
   <td><tt>2fb317b1fedd6c3fa8f3fb7cc8dd8ef5c1c3b4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/perlqt-4.12.1.tar.xz">perlqt-4.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1f0d2442405239983add85172e0a9ba031af71c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/picmi-4.12.1.tar.xz">picmi-4.12.1</a></td>
   <td align="right">712kB</td>
   <td><tt>a9805410034015a3947aa422deb757fbf3722f32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/poxml-4.12.1.tar.xz">poxml-4.12.1</a></td>
   <td align="right">30kB</td>
   <td><tt>3f458967eba3e6e259f9bb5e8cdd8a2c05b30f79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/print-manager-4.12.1.tar.xz">print-manager-4.12.1</a></td>
   <td align="right">90kB</td>
   <td><tt>c17599ff3201d905156c7132c1f0976053b1ea53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/pykde4-4.12.1.tar.xz">pykde4-4.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>daff69d17eb1a064b8cd660fcb19aeeb15e4a0d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/qtruby-4.12.1.tar.xz">qtruby-4.12.1</a></td>
   <td align="right">517kB</td>
   <td><tt>c6a778cc4d5cdfc375f4121b03b5b44be9de158a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/qyoto-4.12.1.tar.xz">qyoto-4.12.1</a></td>
   <td align="right">495kB</td>
   <td><tt>2ff2a3b029abd549d8d5be42925ff50144c31a5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/rocs-4.12.1.tar.xz">rocs-4.12.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>59fac0f450ad7f5c7aeb4432f6332b4969ec7ffe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/smokegen-4.12.1.tar.xz">smokegen-4.12.1</a></td>
   <td align="right">143kB</td>
   <td><tt>a49111553d529e9606e2f3b4f589b551f25e87fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/smokekde-4.12.1.tar.xz">smokekde-4.12.1</a></td>
   <td align="right">36kB</td>
   <td><tt>a57820c262fabcc7c721f2d9025719cdf62298a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/smokeqt-4.12.1.tar.xz">smokeqt-4.12.1</a></td>
   <td align="right">29kB</td>
   <td><tt>34c6ff147cafe9ca252e8e223b6272a62d9b6b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/step-4.12.1.tar.xz">step-4.12.1</a></td>
   <td align="right">353kB</td>
   <td><tt>b0149963eb2b9382c037e52387538563879294c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/superkaramba-4.12.1.tar.xz">superkaramba-4.12.1</a></td>
   <td align="right">374kB</td>
   <td><tt>c3478ffc670aeaae237b7a792d7b86e888298093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/svgpart-4.12.1.tar.xz">svgpart-4.12.1</a></td>
   <td align="right">8kB</td>
   <td><tt>ff03568d5e8dbfe94dcd5c54ba5b7b6fb58a5744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/sweeper-4.12.1.tar.xz">sweeper-4.12.1</a></td>
   <td align="right">80kB</td>
   <td><tt>26239198a350b933b6bd7e07e80964e594e0c5f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/umbrello-4.12.1.tar.xz">umbrello-4.12.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>1aaff2f32f924020502f2cfb983b5fa43495137b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ar-4.12.1.tar.xz">kde-l10n-ar-4.12.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>28916a91fae3b6fb4b7a96f3ccb618ddda274e74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-bg-4.12.1.tar.xz">kde-l10n-bg-4.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5a9b77d084bf70e1c4138259d171540a4c701a32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-bs-4.12.1.tar.xz">kde-l10n-bs-4.12.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>dfe67e14c81e096d0c1bfbf9cef10ae87c4ba74a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ca-4.12.1.tar.xz">kde-l10n-ca-4.12.1</a></td>
   <td align="right">11MB</td>
   <td><tt>627e544f6597daad1284a5d6cd9ede74019a217b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ca@valencia-4.12.1.tar.xz">kde-l10n-ca@valencia-4.12.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>bd796254a55523ae29eab2e6d9e22d53968611ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-cs-4.12.1.tar.xz">kde-l10n-cs-4.12.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>eebaa0bad0fd3218d7dc91d602f491bd1a5afadf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-da-4.12.1.tar.xz">kde-l10n-da-4.12.1</a></td>
   <td align="right">12MB</td>
   <td><tt>edeed848e5fd69a07d3b1f170e7afdb9462c900f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-de-4.12.1.tar.xz">kde-l10n-de-4.12.1</a></td>
   <td align="right">34MB</td>
   <td><tt>975d89f31cfef0bd6fd56ddd633ba33ce8091280</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-el-4.12.1.tar.xz">kde-l10n-el-4.12.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>93bb5fea98db33e389f34d74c2d2427d56427a5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-en_GB-4.12.1.tar.xz">kde-l10n-en_GB-4.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>37183948e51e1ceacc6fc1638aaa57014b59a519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-es-4.12.1.tar.xz">kde-l10n-es-4.12.1</a></td>
   <td align="right">20MB</td>
   <td><tt>6dddcf62c78e37971f7fb1dae7b5d4c4dec407a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-et-4.12.1.tar.xz">kde-l10n-et-4.12.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>0e7b97f0aac3ad30034ada83164822d5dda61f9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-eu-4.12.1.tar.xz">kde-l10n-eu-4.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>fb614359690f7b2b0d2da9095b2745c1d237510e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-fi-4.12.1.tar.xz">kde-l10n-fi-4.12.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>63ea1fc4baeb9ef57ef805b2fbb0f129ef3d42c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-fr-4.12.1.tar.xz">kde-l10n-fr-4.12.1</a></td>
   <td align="right">43MB</td>
   <td><tt>2af054ec66ec310a7b2f3436e007eac5e2ccef9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ga-4.12.1.tar.xz">kde-l10n-ga-4.12.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>150804bd1463c0d679c959565d6e17cdba87abbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-gl-4.12.1.tar.xz">kde-l10n-gl-4.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>30ab1c0ec00733dbef3ed343b2c25145483b3130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-he-4.12.1.tar.xz">kde-l10n-he-4.12.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>bcffc6531875744dcb9770896dfe434dc1718cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-hi-4.12.1.tar.xz">kde-l10n-hi-4.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6539924ba001910eef864739e0feb0cf6910ca06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-hr-4.12.1.tar.xz">kde-l10n-hr-4.12.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9087b42c9d3735f48cbb2a9708197215e246a407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-hu-4.12.1.tar.xz">kde-l10n-hu-4.12.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>97b065dd370207d5d7aec17ddd127199dbb605b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ia-4.12.1.tar.xz">kde-l10n-ia-4.12.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5d52bc2e01e4a7b058db56f187bd31740e38979a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-is-4.12.1.tar.xz">kde-l10n-is-4.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>39f2cb05ee4e3705ccc503df25e6c7f439489319</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-it-4.12.1.tar.xz">kde-l10n-it-4.12.1</a></td>
   <td align="right">8.4MB</td>
   <td><tt>fbc351fbf36ce98f78456dce351f57e70133057a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ja-4.12.1.tar.xz">kde-l10n-ja-4.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>3f46632db69c3c17d84fd7c940683f6e2f4fd599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-kk-4.12.1.tar.xz">kde-l10n-kk-4.12.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>7f4a988e93c05309426e2ab89c7a626217c10ca2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-km-4.12.1.tar.xz">kde-l10n-km-4.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>8bc1d11b13edc46375e0db9dd9eeb1405a0b7aad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ko-4.12.1.tar.xz">kde-l10n-ko-4.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a816757c13c7672e4ffc6cce140e125136ad1f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-lt-4.12.1.tar.xz">kde-l10n-lt-4.12.1</a></td>
   <td align="right">12MB</td>
   <td><tt>6cddf04f1c93c8fdc39ce8d747bb7d1c1dda42a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-lv-4.12.1.tar.xz">kde-l10n-lv-4.12.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1c6ee02321589aaaceff8bce77024280c75d0cc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-mr-4.12.1.tar.xz">kde-l10n-mr-4.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1b4607edd9c82da9d3ace9fe862095d965a1f462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-nb-4.12.1.tar.xz">kde-l10n-nb-4.12.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>d042a0443fd0b723c0b885dbd418def66297db40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-nds-4.12.1.tar.xz">kde-l10n-nds-4.12.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>32572c7552a54fe8cdbeeaa487871fea8f83c8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-nl-4.12.1.tar.xz">kde-l10n-nl-4.12.1</a></td>
   <td align="right">13MB</td>
   <td><tt>790cecf7f5543c0048a2c9dc6a7500792404c895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-nn-4.12.1.tar.xz">kde-l10n-nn-4.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>eac03300851a3392cceec087e44cdeb3596a943b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-pa-4.12.1.tar.xz">kde-l10n-pa-4.12.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7166d451a7c933a2a4fb4a9997f5e3a16d735ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-pl-4.12.1.tar.xz">kde-l10n-pl-4.12.1</a></td>
   <td align="right">16MB</td>
   <td><tt>0d68827d68d6851fc7e2a16a58a4321710ae61a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-pt-4.12.1.tar.xz">kde-l10n-pt-4.12.1</a></td>
   <td align="right">3.5MB</td>
   <td><tt>7cc5f375fbfc9c6abfbf23fd52ea29b9169461e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-pt_BR-4.12.1.tar.xz">kde-l10n-pt_BR-4.12.1</a></td>
   <td align="right">23MB</td>
   <td><tt>e6b19d400bdaa637779894d1e37f14cbdb00b495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ro-4.12.1.tar.xz">kde-l10n-ro-4.12.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>c0a195c5021c060085ccf1607caa2ca4643c11f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ru-4.12.1.tar.xz">kde-l10n-ru-4.12.1</a></td>
   <td align="right">21MB</td>
   <td><tt>ac4311955efe1535a0f2fb0c517ccedd1926860e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-sk-4.12.1.tar.xz">kde-l10n-sk-4.12.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>5090e9d6f0de16e94716961d6932e63695503b78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-sl-4.12.1.tar.xz">kde-l10n-sl-4.12.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>105122049cd10431796e8493f66ac456b6619728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-sr-4.12.1.tar.xz">kde-l10n-sr-4.12.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>aa90cb75e8b3e01b6cc292a85d30580e26a106c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-sv-4.12.1.tar.xz">kde-l10n-sv-4.12.1</a></td>
   <td align="right">13MB</td>
   <td><tt>8e313269fc3fdb7f0363265374267fdbb885bd5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-tr-4.12.1.tar.xz">kde-l10n-tr-4.12.1</a></td>
   <td align="right">3.8MB</td>
   <td><tt>49a6e31d3a5b3343fc3ab246a05e3f001615bd4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-ug-4.12.1.tar.xz">kde-l10n-ug-4.12.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>40f1f8da719b20b99ba4be31a3ebfc9de0416182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-uk-4.12.1.tar.xz">kde-l10n-uk-4.12.1</a></td>
   <td align="right">24MB</td>
   <td><tt>61512ae6fa1eee990415fa194b1b99c297f7630f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-vi-4.12.1.tar.xz">kde-l10n-vi-4.12.1</a></td>
   <td align="right">922kB</td>
   <td><tt>e538d759edf17cb9fb55611dae20d94673cf300c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-wa-4.12.1.tar.xz">kde-l10n-wa-4.12.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8e690dafc4ba8b588eb83cf74e7d4ca9de56fecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-zh_CN-4.12.1.tar.xz">kde-l10n-zh_CN-4.12.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>2d7b5f5b5e361824cf499216e78c6bb731b0dc21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.12.1/src/kde-l10n/kde-l10n-zh_TW-4.12.1.tar.xz">kde-l10n-zh_TW-4.12.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>7c7a38d48eaf43a6a24daa2b9e0ecb22e7e790c2</tt></td>
</tr>

</table>
