<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdeaccessibility-4.5.5.tar.bz2">kdeaccessibility-4.5.5</a></td><td align="right">5,0MB</td><td><tt>ea3287999792557a5a4acca4e06c23e56b01eea3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdeadmin-4.5.5.tar.bz2">kdeadmin-4.5.5</a></td><td align="right">1,2MB</td><td><tt>798dcc0e572315dc5db8afa2e6c467293cbf5d98</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdeartwork-4.5.5.tar.bz2">kdeartwork-4.5.5</a></td><td align="right">106MB</td><td><tt>f584a11f188734380ee56950176f698426c29017</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdebase-4.5.5.tar.bz2">kdebase-4.5.5</a></td><td align="right">2,6MB</td><td><tt>fa5a89dad13743c03831e930af978b593ad6ec6c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdebase-runtime-4.5.5.tar.bz2">kdebase-runtime-4.5.5</a></td><td align="right">5,5MB</td><td><tt>3827a38727e077a2aef6d63f38e68ec72bd01a84</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdebase-workspace-4.5.5.tar.bz2">kdebase-workspace-4.5.5</a></td><td align="right">63MB</td><td><tt>38457b606bfc0b39842fb451566ddf49d145da82</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdebindings-4.5.5.tar.bz2">kdebindings-4.5.5</a></td><td align="right">6,9MB</td><td><tt>5f754f0b6989df9557c5ccec18b4f96207fceb94</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdeedu-4.5.5.tar.bz2">kdeedu-4.5.5</a></td><td align="right">63MB</td><td><tt>c43db1c4689b18b7eda12810f05d9d3ca12055c2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdegames-4.5.5.tar.bz2">kdegames-4.5.5</a></td><td align="right">56MB</td><td><tt>622e817c3296dec58e122a0f18053fd743125c0b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdegraphics-4.5.5.tar.bz2">kdegraphics-4.5.5</a></td><td align="right">4,8MB</td><td><tt>7e7c81ac691aacbfea6c1e1860cd098294bf5e15</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdelibs-4.5.5.tar.bz2">kdelibs-4.5.5</a></td><td align="right">14MB</td><td><tt>127a2b50fe31ff345e05660dd50f7c55ae78d854</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdemultimedia-4.5.5.tar.bz2">kdemultimedia-4.5.5</a></td><td align="right">1,6MB</td><td><tt>fe3f30a5491d3384298c4f68ebed136bc83ba8a6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdenetwork-4.5.5.tar.bz2">kdenetwork-4.5.5</a></td><td align="right">7,8MB</td><td><tt>2c7dd0bc1809ac477f46ddb966f232ca3f60bc0a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdepimlibs-4.5.5.tar.bz2">kdepimlibs-4.5.5</a></td><td align="right">2,6MB</td><td><tt>436fd7897586294f327395981a714ae0695f4ee2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdeplasma-addons-4.5.5.tar.bz2">kdeplasma-addons-4.5.5</a></td><td align="right">1,7MB</td><td><tt>12eac8b330b9abf7b3739ed6490aee52a5f4c35e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdesdk-4.5.5.tar.bz2">kdesdk-4.5.5</a></td><td align="right">5,5MB</td><td><tt>278c63099bdcd06cb8b60c1e179c3befede2cd33</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdetoys-4.5.5.tar.bz2">kdetoys-4.5.5</a></td><td align="right">396KB</td><td><tt>7b133ccc7ca1f506630ea98b97c3e04a04bc614d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdeutils-4.5.5.tar.bz2">kdeutils-4.5.5</a></td><td align="right">3,7MB</td><td><tt>f3bf2bd808e4540f6666cb9b26471a90f2c0135e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/kdewebdev-4.5.5.tar.bz2">kdewebdev-4.5.5</a></td><td align="right">2,2MB</td><td><tt>2493e6151c498f4b2ff84363ea51a41eb0d759d9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.5.5/src/oxygen-icons-4.5.5.tar.bz2">oxygen-icons-4.5.5</a></td><td align="right">277MB</td><td><tt>9c831506010fc441467575a53c91047c1004f473</tt></td></tr>
</table>
