<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/bluedevil-5.18.7.tar.xz">bluedevil-5.18.7</a></td>
   <td align="right">166kB</td>
   <td><tt>9d5e877d498e07219a9e656c186899beec5cab09e82eddb71e6d3b133fe4a8c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/breeze-5.18.7.tar.xz">breeze-5.18.7</a></td>
   <td align="right">20MB</td>
   <td><tt>ffb5debde75b0b9466ac36f458da42669f38971ae747ca712e703ed385c99400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/breeze-grub-5.18.7.tar.xz">breeze-grub-5.18.7</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0b94db3ab31ff8a496aa5377fd91b4a92e2eae2f9b34bdae97b4876def549147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/breeze-gtk-5.18.7.tar.xz">breeze-gtk-5.18.7</a></td>
   <td align="right">41kB</td>
   <td><tt>738b5283f5fd166ba62a1307bf56db89c69a78c156a6c86e6242afbfe90dbada</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/breeze-plymouth-5.18.7.tar.xz">breeze-plymouth-5.18.7</a></td>
   <td align="right">103kB</td>
   <td><tt>6f704dadca7f7bc854d43bb156368258a56b4fd0ff48639c77e7ac443841561a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/discover-5.18.7.tar.xz">discover-5.18.7</a></td>
   <td align="right">9.9MB</td>
   <td><tt>35d9ecfc3d8313587533352e0001a992fbb70ab046b278cc412e4620ea9a4baa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/drkonqi-5.18.7.tar.xz">drkonqi-5.18.7</a></td>
   <td align="right">727kB</td>
   <td><tt>dc325bd5f81be7a646a1974faac157873909f2e657e8d14139d30b76b0eb0067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kactivitymanagerd-5.18.7.tar.xz">kactivitymanagerd-5.18.7</a></td>
   <td align="right">85kB</td>
   <td><tt>0ab3b9c32955064392bfaf901ab1a285f8f6d737e6933a2160f67755a041ddf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kde-cli-tools-5.18.7.tar.xz">kde-cli-tools-5.18.7</a></td>
   <td align="right">573kB</td>
   <td><tt>e17789ac3395c2386d23a3af1bbdcce4cb6270512eaccc96f90a4658d0e1774a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kdecoration-5.18.7.tar.xz">kdecoration-5.18.7</a></td>
   <td align="right">43kB</td>
   <td><tt>34d5629f612779d677b5c2c7e05a0178990d907ebe5fbb8d310e0b8cd2b3c358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kde-gtk-config-5.18.7.tar.xz">kde-gtk-config-5.18.7</a></td>
   <td align="right">24kB</td>
   <td><tt>556a8a540434a999b245781a7ffbca499cf0f849969302e4634ce861cec3d479</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kdeplasma-addons-5.18.7.tar.xz">kdeplasma-addons-5.18.7</a></td>
   <td align="right">610kB</td>
   <td><tt>85730e41a7316f615a2a7a5d2097ac8bb3a9a82796484f73836748643ece1b05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kgamma5-5.18.7.tar.xz">kgamma5-5.18.7</a></td>
   <td align="right">77kB</td>
   <td><tt>db2b2e35df3854ade375b3d0f6242ecdc9c109e93cb60dbf403d07bfabd63c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/khotkeys-5.18.7.tar.xz">khotkeys-5.18.7</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e0dfb06b1e5b20e88c9a50e76909c9fcc3838cf996e209d5c9a0477fab5eee8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kinfocenter-5.18.7.tar.xz">kinfocenter-5.18.7</a></td>
   <td align="right">1.1MB</td>
   <td><tt>47d14978e32675496f4f49b2aab57725da2d56535a628f834880846c47ab6640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kmenuedit-5.18.7.tar.xz">kmenuedit-5.18.7</a></td>
   <td align="right">788kB</td>
   <td><tt>77e14106cf285f2b8f493a83122e394d2cbe9a424cb4a5ab9b5124ece82e0426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kscreen-5.18.7.tar.xz">kscreen-5.18.7</a></td>
   <td align="right">110kB</td>
   <td><tt>8f18cc37617cc87e2a7dcfd9ac6ca7e95161843cd30e78e9063cbefc6ba2fa88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kscreenlocker-5.18.7.tar.xz">kscreenlocker-5.18.7</a></td>
   <td align="right">122kB</td>
   <td><tt>abfc5f3b7bd4a10c31221c94ad8f4ffcc68d368add2584874dad22388b66157d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/ksshaskpass-5.18.7.tar.xz">ksshaskpass-5.18.7</a></td>
   <td align="right">21kB</td>
   <td><tt>a7acf8be65c502ecf64dbff6cead1dccbf5c6add2d82d2036e34f15c049eaafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/ksysguard-5.18.7.tar.xz">ksysguard-5.18.7</a></td>
   <td align="right">500kB</td>
   <td><tt>75d1e6139787d230f540510b79f4d9b9d525695ac131231998bb48aa1346ff2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kwallet-pam-5.18.7.tar.xz">kwallet-pam-5.18.7</a></td>
   <td align="right">19kB</td>
   <td><tt>0267bb1425a5b3947f36e46eac70e7bfbc333c248992f2f276b06433d16489b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kwayland-integration-5.18.7.tar.xz">kwayland-integration-5.18.7</a></td>
   <td align="right">20kB</td>
   <td><tt>d74377898f0f600f9075d5b297add3703d3f5a0e0e8afccf39087ca3a4f34672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kwin-5.18.7.tar.xz">kwin-5.18.7</a></td>
   <td align="right">5.9MB</td>
   <td><tt>ad4a28f6df5d971b8b39687504238d2cfc6953ae81c3589ffa9da17e30672137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/kwrited-5.18.7.tar.xz">kwrited-5.18.7</a></td>
   <td align="right">19kB</td>
   <td><tt>b21659966b4da7bd7c4907221d60410202325cd68bfd3f547ec783f392ed95b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/libkscreen-5.18.7.tar.xz">libkscreen-5.18.7</a></td>
   <td align="right">83kB</td>
   <td><tt>1c454c5298bc0d211c94f4949a796fac8bd38fddc3eea0b7848d53abebb508f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/libksysguard-5.18.7.tar.xz">libksysguard-5.18.7</a></td>
   <td align="right">597kB</td>
   <td><tt>6b3bf4feb0a7aafeefda354a771750dc74367c9216448e0b7ed36dcaa3520dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/milou-5.18.7.tar.xz">milou-5.18.7</a></td>
   <td align="right">62kB</td>
   <td><tt>8d35cdb9a53b0710542e6a147adfce7f92e605ab2c7aa22a945a33a30a1e6512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/oxygen-5.18.7.tar.xz">oxygen-5.18.7</a></td>
   <td align="right">4.2MB</td>
   <td><tt>fc7035666617a1431eb15ed056ef3523f49ba40c11f7b55183820f6467c2c282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-browser-integration-5.18.7.tar.xz">plasma-browser-integration-5.18.7</a></td>
   <td align="right">170kB</td>
   <td><tt>ee15d3a740f47149d3c784580c4c2dd63b027f2d0ce7fa626418134c854d127d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-desktop-5.18.7.tar.xz">plasma-desktop-5.18.7</a></td>
   <td align="right">8.9MB</td>
   <td><tt>8d3baefac7b3254b5c850016905a6c7a1b2a38a334d21305d824bb3fa00318c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-integration-5.18.7.tar.xz">plasma-integration-5.18.7</a></td>
   <td align="right">56kB</td>
   <td><tt>48286cdbcaa28b437affd00584ae025d562cd2f954bb1d98aeec7490c3d5f0a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-nano-5.18.7.tar.xz">plasma-nano-5.18.7</a></td>
   <td align="right">31kB</td>
   <td><tt>fb0e6b791e61d0d69b6e3c28ece0956deeb51e8067b4972fcdae0c50312d568b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-nm-5.18.7.tar.xz">plasma-nm-5.18.7</a></td>
   <td align="right">813kB</td>
   <td><tt>846fb837f87908a1eab9693f842d89c22c3910ec0ab0fe08df5c14f4f6fd21d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-pa-5.18.7.tar.xz">plasma-pa-5.18.7</a></td>
   <td align="right">103kB</td>
   <td><tt>c13f3ccb8ef9d5a460a06d0598b68c9d5e5b80279fe9d179d5f259d6cf79f62c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-phone-components-5.18.7.tar.xz">plasma-phone-components-5.18.7</a></td>
   <td align="right">1.6MB</td>
   <td><tt>32fadf53282b9dd7a16b335717a785f7d487490bf7eebdcd606693e2b7ee013a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-sdk-5.18.7.tar.xz">plasma-sdk-5.18.7</a></td>
   <td align="right">256kB</td>
   <td><tt>7bbe596ffcdc97047d91b199044b95c2edd3b02f257665d95ef551f31ade347b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-tests-5.18.7.tar.xz">plasma-tests-5.18.7</a></td>
   <td align="right">1kB</td>
   <td><tt>0a5d6793003f62408a0e1d7766c9af3a451f0e666975711fadf1d45ba3f3c6b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-thunderbolt-5.18.7.tar.xz">plasma-thunderbolt-5.18.7</a></td>
   <td align="right">51kB</td>
   <td><tt>85eb78e4c8be2ed246b67c4e89d3cd0833f84b5af24bbf5fd6c5af7fd2e279e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-vault-5.18.7.tar.xz">plasma-vault-5.18.7</a></td>
   <td align="right">136kB</td>
   <td><tt>7f522c05a4114322623c3c8c659556b24d0784b5cd5611bba6e32e4d19d8dd8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-workspace-5.18.7.1.tar.xz">plasma-workspace-5.18.7.1</a></td>
   <td align="right">5.4MB</td>
   <td><tt>e79f9b9c4837e150ef12b24c0001acab84f0101a8f2be39213ef69e7fea6845d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plasma-workspace-wallpapers-5.18.7.tar.xz">plasma-workspace-wallpapers-5.18.7</a></td>
   <td align="right">35MB</td>
   <td><tt>2e0dee7b367c119328b78814b77ffc0217f41644d7e562002b842785c5db6d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/plymouth-kcm-5.18.7.tar.xz">plymouth-kcm-5.18.7</a></td>
   <td align="right">41kB</td>
   <td><tt>0ee91469986e08bcbd786544bea9a0e8ceeb7b64cdc5f5a723f1a7a0c88fd7fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/polkit-kde-agent-1-5.18.7.tar.xz">polkit-kde-agent-1-5.18.7</a></td>
   <td align="right">43kB</td>
   <td><tt>b13226b36e6a2ee665d0875ba2fd9b1c858cc3eaa02bd5ffe2e0c9c53e9be585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/powerdevil-5.18.7.tar.xz">powerdevil-5.18.7</a></td>
   <td align="right">582kB</td>
   <td><tt>fe431256140bfd284163de9157fba74ecea51f04d9e493138299c6738a30ce2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/sddm-kcm-5.18.7.tar.xz">sddm-kcm-5.18.7</a></td>
   <td align="right">60kB</td>
   <td><tt>415fb0043ddc4fc5abe5f08a3413a179aa6ef67095ba30827124343a509818bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/systemsettings-5.18.7.tar.xz">systemsettings-5.18.7</a></td>
   <td align="right">174kB</td>
   <td><tt>a5a600a2325496836968a9f803629e5d3e1c7caa411ae5d0b7184dd3fcbf98ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/user-manager-5.18.7.tar.xz">user-manager-5.18.7</a></td>
   <td align="right">2.0MB</td>
   <td><tt>9337fd88714b20c8481aeab6b154a3038ed0284c857677d557b18c98126b28b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.7/xdg-desktop-portal-kde-5.18.7.tar.xz">xdg-desktop-portal-kde-5.18.7</a></td>
   <td align="right">64kB</td>
   <td><tt>5033a528bf9f9414ae0e116f81680b1ffbacd50a7f9cbcf90da05301be646503</tt></td>
</tr>

</table>
