<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/bluedevil-5.5.5.tar.xz">bluedevil-5.5.5</a></td>
   <td align="right">131kB</td>
   <td><tt>34f95e384aff73a8a4284d6de0baf900582305f21c7d248ce7903024dc1bd581</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/breeze-5.5.5.tar.xz">breeze-5.5.5</a></td>
   <td align="right">28MB</td>
   <td><tt>b490398e75779ab0261222adbba26b9b85943236735689962c26eb17def4ae77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/breeze-gtk-5.5.5.tar.xz">breeze-gtk-5.5.5</a></td>
   <td align="right">251kB</td>
   <td><tt>c54879a55194dd9e63a3aa07f8b6fb7282ab8b14fdf6ac430f4dccbb722feb10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/discover-5.5.5.tar.xz">discover-5.5.5</a></td>
   <td align="right">824kB</td>
   <td><tt>4a088917a6bc64a40204326a8582b43045d811b72b11c1bd04f9293293b14b2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kde-cli-tools-5.5.5.tar.xz">kde-cli-tools-5.5.5</a></td>
   <td align="right">474kB</td>
   <td><tt>50d7c9e2f8423a0e26844e7a9758f4e190e0383f57d0d4bb90e1776a957d2fa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kdecoration-5.5.5.tar.xz">kdecoration-5.5.5</a></td>
   <td align="right">33kB</td>
   <td><tt>6c63fd16a4b3c887a0694cc161a2109a45ad780d1265931f6ceeca52b195a447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kde-gtk-config-5.5.5.tar.xz">kde-gtk-config-5.5.5</a></td>
   <td align="right">143kB</td>
   <td><tt>183e4faec4cc175f9fabf7eaa8d3343498079f41e10b645fdc4335e2dd9ddd2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kdeplasma-addons-5.5.5.tar.xz">kdeplasma-addons-5.5.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5d47e27632c11dd69bbe1b58884d983a77eb7d1e210c77e494748f0ea23b62d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kgamma5-5.5.5.tar.xz">kgamma5-5.5.5</a></td>
   <td align="right">58kB</td>
   <td><tt>b2f9e3bb5c224d2fea930d5d58f5cbae0f2919ed451440ea9fb5111e51c22795</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/khelpcenter-5.5.5.tar.xz">khelpcenter-5.5.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9790973be800fd52bf441f747cd7e6f19c8e8c3134f6be7ffb5820f48acc0513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/khotkeys-5.5.5.tar.xz">khotkeys-5.5.5</a></td>
   <td align="right">589kB</td>
   <td><tt>d206ea610da7fcfb06f46151a8581018931aa101368ffd54473a2aaa8f7e398b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kinfocenter-5.5.5.tar.xz">kinfocenter-5.5.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8221b06889bcb1626e86e72a8289e2b42a6d4d7520d140ca495e421aaf63e6c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kmenuedit-5.5.5.tar.xz">kmenuedit-5.5.5</a></td>
   <td align="right">431kB</td>
   <td><tt>b255e2c32f3f2eaf5c746cfcfe049bfd10a033c1ff7a73de869cab79ae6b0e04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kscreen-5.5.5.tar.xz">kscreen-5.5.5</a></td>
   <td align="right">101kB</td>
   <td><tt>9f61e87f9128481aaa4718d900ffaab2ad15e377f5514db2c0d95a30bac00ea8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kscreenlocker-5.5.5.tar.xz">kscreenlocker-5.5.5</a></td>
   <td align="right">96kB</td>
   <td><tt>7cad8630831094dc1cde7d828df750191eb032c908a6bccc6d5d83b15a235803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/ksshaskpass-5.5.5.tar.xz">ksshaskpass-5.5.5</a></td>
   <td align="right">20kB</td>
   <td><tt>8a5c48f50c4449e39dc312ca5d3dc8cec466d2fc6ad4602adf0d41ee3828fc6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/ksysguard-5.5.5.tar.xz">ksysguard-5.5.5</a></td>
   <td align="right">470kB</td>
   <td><tt>b5747ca71a6a91ae5358e540ffdb03b4978ba1bc7b42cacec36a0d39a72b0b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kwallet-pam-5.5.5.tar.xz">kwallet-pam-5.5.5</a></td>
   <td align="right">15kB</td>
   <td><tt>19c153a0593232767b370a1310f16d13673caba13842571bb7cb01535ba89336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kwayland-5.5.5.tar.xz">kwayland-5.5.5</a></td>
   <td align="right">156kB</td>
   <td><tt>10c354db34da839bc6696029cfa5c3cb0852ac94362642e8815951fa5caae612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kwayland-integration-5.5.5.tar.xz">kwayland-integration-5.5.5</a></td>
   <td align="right">16kB</td>
   <td><tt>482ee3482eca54714327a72e35deab59df15c388cef5b5cc9f4c15df9da554c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kwin-5.5.5.tar.xz">kwin-5.5.5</a></td>
   <td align="right">3.6MB</td>
   <td><tt>759772e263c14e853803e2beb9ef9c02da3cb59ca1a62ee533df657013c6e9c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/kwrited-5.5.5.tar.xz">kwrited-5.5.5</a></td>
   <td align="right">19kB</td>
   <td><tt>236a0979813fad0c57a1afcb217bcdf06ede866b508d1a4e710d2b6ca72c189e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/libkscreen-5.5.5.tar.xz">libkscreen-5.5.5</a></td>
   <td align="right">70kB</td>
   <td><tt>1b2f7c3e5c6f5807b1a917ea79de929988d8fdc8fd06249a763212be0d045bb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/libksysguard-5.5.5.tar.xz">libksysguard-5.5.5</a></td>
   <td align="right">556kB</td>
   <td><tt>4286691ad71f104b54ab5d9cdd8cb8c153984308a4bd998012ea01d36a377e9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/milou-5.5.5.tar.xz">milou-5.5.5</a></td>
   <td align="right">50kB</td>
   <td><tt>851a71166c1faa010536c515d5ab92be5e827a3123acd12e2aa8674f51b4ebbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/oxygen-5.5.5.tar.xz">oxygen-5.5.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>2244d3c5015f5c7d52bff5e0e58a1fca35ec084f9a9da3af12f76600f5ddbfc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/plasma-desktop-5.5.5.tar.xz">plasma-desktop-5.5.5</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6649da817141096a6393648c834638ea0a09c1e799b1b300672c22c10c3bea8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/plasma-mediacenter-5.5.5.tar.xz">plasma-mediacenter-5.5.5</a></td>
   <td align="right">157kB</td>
   <td><tt>1231f770032a445b3285765112024bb75e1f47791f58136cb932b92e95c63dfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/plasma-nm-5.5.5.tar.xz">plasma-nm-5.5.5</a></td>
   <td align="right">608kB</td>
   <td><tt>84a7c845eb5f5043a48189c4ffb0ace30a5766da81396a9081a3ac1bb8f3ce75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/plasma-pa-5.5.5.tar.xz">plasma-pa-5.5.5</a></td>
   <td align="right">53kB</td>
   <td><tt>501b9f8b603f8a14e46103799f6f16ae55fd47ff118f4282ec58b44822b355d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/plasma-sdk-5.5.5.tar.xz">plasma-sdk-5.5.5</a></td>
   <td align="right">650kB</td>
   <td><tt>a8e99087d41eeedcf9f74de1805035bfb7be21c729156023072d961f2080010c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/plasma-workspace-5.5.5.tar.xz">plasma-workspace-5.5.5</a></td>
   <td align="right">7.0MB</td>
   <td><tt>bed1e65d878b963dbbb85129c206dc70db71461de29c19e95b6053c9c4fe7b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/plasma-workspace-wallpapers-5.5.5.tar.xz">plasma-workspace-wallpapers-5.5.5</a></td>
   <td align="right">43MB</td>
   <td><tt>975179e092db38dc5d7aaedc982b566e044969f8ec363a46d3d707e4cdcfb906</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/polkit-kde-agent-1-5.5.5.tar.xz">polkit-kde-agent-1-5.5.5</a></td>
   <td align="right">38kB</td>
   <td><tt>494e1c1b99faf820c3065dc3e0e68b833a2670d9578d888c1657be43cefa9c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/powerdevil-5.5.5.tar.xz">powerdevil-5.5.5</a></td>
   <td align="right">338kB</td>
   <td><tt>73bfbf63317448a3ab92e5250a016bf7c5628ec10cdf277239dde4e8af2160e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/sddm-kcm-5.5.5.tar.xz">sddm-kcm-5.5.5</a></td>
   <td align="right">47kB</td>
   <td><tt>cfd430f886be9f82b8653debf37d402acc9bb9218b58ac0072b3ee771d37f47e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/systemsettings-5.5.5.tar.xz">systemsettings-5.5.5</a></td>
   <td align="right">154kB</td>
   <td><tt>20d9b7c1d789efe7e4f3994a16eda3ff35e231373384d92415850487125a7aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.5.5/user-manager-5.5.5.tar.xz">user-manager-5.5.5</a></td>
   <td align="right">56kB</td>
   <td><tt>9e90fc0c2affa4d1eee2aabc03e146a259e46e214fbbc28696f5d70262a82ebd</tt></td>
</tr>

</table>
