
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/attica-5.76.0.tar.xz">attica-5.76.0</a></td>
   <td align="right">64kB</td>
   <td><tt>20a20fa38cfb8d32bf9f3e221299adf23a46d03b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/baloo-5.76.0.tar.xz">baloo-5.76.0</a></td>
   <td align="right">282kB</td>
   <td><tt>71d5ccbde8f49957626078cf7647cd94c454ada9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/bluez-qt-5.76.0.tar.xz">bluez-qt-5.76.0</a></td>
   <td align="right">99kB</td>
   <td><tt>30a4188727ede763a7c6b0ac2290c1fe793308b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/breeze-icons-5.76.0.tar.xz">breeze-icons-5.76.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3cd929e071e1a57b5aa752171b839844943b1cb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/extra-cmake-modules-5.76.0.tar.xz">extra-cmake-modules-5.76.0</a></td>
   <td align="right">341kB</td>
   <td><tt>645213a982536444a20316684539b28840375a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/frameworkintegration-5.76.0.tar.xz">frameworkintegration-5.76.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>47780db2b8fc5ae08cc7d82bb36a7c13a614e9ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kactivities-5.76.0.tar.xz">kactivities-5.76.0</a></td>
   <td align="right">70kB</td>
   <td><tt>94d0c8f83dde3ef12cf780dded9ba670cdc758b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kactivities-stats-5.76.0.tar.xz">kactivities-stats-5.76.0</a></td>
   <td align="right">80kB</td>
   <td><tt>07a63b66763919458c4fa52f702e84ecb6ecdc02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kapidox-5.76.0.tar.xz">kapidox-5.76.0</a></td>
   <td align="right">185kB</td>
   <td><tt>c97187f7943ea53cb18706652b0c9cd4fe8d7f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/karchive-5.76.0.tar.xz">karchive-5.76.0</a></td>
   <td align="right">960kB</td>
   <td><tt>c214b6da7e7fa8fca3799ca6f3411fc735c2bbe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kauth-5.76.0.tar.xz">kauth-5.76.0</a></td>
   <td align="right">85kB</td>
   <td><tt>59f4acfcc4ad56d8c2a968c6db30f9fdaa3757a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kbookmarks-5.76.0.tar.xz">kbookmarks-5.76.0</a></td>
   <td align="right">123kB</td>
   <td><tt>819bbcbe5acde28bbcf02436478780b7b6e46fbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kcalendarcore-5.76.0.tar.xz">kcalendarcore-5.76.0</a></td>
   <td align="right">250kB</td>
   <td><tt>2b61ee695d038e9668a6128bcbb43d287ea9401c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kcmutils-5.76.0.tar.xz">kcmutils-5.76.0</a></td>
   <td align="right">251kB</td>
   <td><tt>a2f86e6dac532291d1c7bdc3b1bdb2116346eb1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kcodecs-5.76.0.tar.xz">kcodecs-5.76.0</a></td>
   <td align="right">222kB</td>
   <td><tt>49b3f13393eba47e484b6174b9349085d8bf6fa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kcompletion-5.76.0.tar.xz">kcompletion-5.76.0</a></td>
   <td align="right">118kB</td>
   <td><tt>11d909cfb5ec8227f3188fa77d6f02d044465bdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kconfig-5.76.0.tar.xz">kconfig-5.76.0</a></td>
   <td align="right">257kB</td>
   <td><tt>988939ae959a643b65c38fe44edc64e34491cee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kconfigwidgets-5.76.0.tar.xz">kconfigwidgets-5.76.0</a></td>
   <td align="right">378kB</td>
   <td><tt>97535c087d08af3918b17b66a2e2f780d6c0e36b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kcontacts-5.76.0.tar.xz">kcontacts-5.76.0</a></td>
   <td align="right">530kB</td>
   <td><tt>25d5e542ebcc1d78cab20a2a98d24bf38a9beea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kcoreaddons-5.76.0.tar.xz">kcoreaddons-5.76.0</a></td>
   <td align="right">391kB</td>
   <td><tt>0bcbd392076a1bfe1e1f78e144aa7d6a027b4af9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kcrash-5.76.0.tar.xz">kcrash-5.76.0</a></td>
   <td align="right">21kB</td>
   <td><tt>9fe364ef7f7ce7c24c0a2457dc768f20f1594e4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kdav-5.76.0.tar.xz">kdav-5.76.0</a></td>
   <td align="right">58kB</td>
   <td><tt>172c7c1e1f9ad584acc31a5dc97626fb226daeba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kdbusaddons-5.76.0.tar.xz">kdbusaddons-5.76.0</a></td>
   <td align="right">41kB</td>
   <td><tt>e63c5b06ad966fb822eaeca6a2cf55a8dc4ce5dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kdeclarative-5.76.0.tar.xz">kdeclarative-5.76.0</a></td>
   <td align="right">186kB</td>
   <td><tt>006b3d4e8222988c0b13ef5fc938096d7e5d40a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kded-5.76.0.tar.xz">kded-5.76.0</a></td>
   <td align="right">35kB</td>
   <td><tt>bd4a466bb2638e8a5d683819fdfe388f1a9c4719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kdesu-5.76.0.tar.xz">kdesu-5.76.0</a></td>
   <td align="right">50kB</td>
   <td><tt>1086b956f3f1022e0a8c27af7382ad88f9cb3ac3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kdnssd-5.76.0.tar.xz">kdnssd-5.76.0</a></td>
   <td align="right">56kB</td>
   <td><tt>dae1026f3786775da5f65b9be9ca322435dc2c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kdoctools-5.76.0.tar.xz">kdoctools-5.76.0</a></td>
   <td align="right">428kB</td>
   <td><tt>464c4682bb805b72075f56e795ff904115b95de2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kemoticons-5.76.0.tar.xz">kemoticons-5.76.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bf608abf2a0c4f01108ac1fdf89fd536a9e93749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kfilemetadata-5.76.0.tar.xz">kfilemetadata-5.76.0</a></td>
   <td align="right">414kB</td>
   <td><tt>c4238c1c53de0ad2e8311dadc5bf4e494ff02d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kglobalaccel-5.76.0.tar.xz">kglobalaccel-5.76.0</a></td>
   <td align="right">85kB</td>
   <td><tt>facaa417654f4dd044ead79ae9ba75ebc2ae8bca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kguiaddons-5.76.0.tar.xz">kguiaddons-5.76.0</a></td>
   <td align="right">50kB</td>
   <td><tt>470f01f12f4c269e793f58fa61b889ebaedefde9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kholidays-5.76.0.tar.xz">kholidays-5.76.0</a></td>
   <td align="right">219kB</td>
   <td><tt>21c14faece15264b12b915da660a2b5589f97a50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/ki18n-5.76.0.tar.xz">ki18n-5.76.0</a></td>
   <td align="right">576kB</td>
   <td><tt>78b09a91a2efa8060578056b6c1782c33602cd4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kiconthemes-5.76.0.tar.xz">kiconthemes-5.76.0</a></td>
   <td align="right">216kB</td>
   <td><tt>9e99ccee82b971d1ed46edd8144b56b4c5db93c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kidletime-5.76.0.tar.xz">kidletime-5.76.0</a></td>
   <td align="right">25kB</td>
   <td><tt>2ac9cf3d3cd6386d1960b68c75bf428f0405d08e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kimageformats-5.76.0.tar.xz">kimageformats-5.76.0</a></td>
   <td align="right">535kB</td>
   <td><tt>f9a1b4cbdea8d62e39607025d24dc5e06624aefe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kinit-5.76.0.tar.xz">kinit-5.76.0</a></td>
   <td align="right">118kB</td>
   <td><tt>32020896fe717d3efa3d61e0c470bc72f6f54f77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kio-5.76.0.tar.xz">kio-5.76.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>3cd729177dfea75ffc8ed15ae93e71cb95a74bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kirigami2-5.76.0.tar.xz">kirigami2-5.76.0</a></td>
   <td align="right">287kB</td>
   <td><tt>79035adca2fe06444702cda72f6a0cb7b10c2337</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kitemmodels-5.76.0.tar.xz">kitemmodels-5.76.0</a></td>
   <td align="right">393kB</td>
   <td><tt>688af912fb925e967a2fb456a39cbfd67156cb4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kitemviews-5.76.0.tar.xz">kitemviews-5.76.0</a></td>
   <td align="right">73kB</td>
   <td><tt>7f1f608343b82e7696502f2dd552bf81b62ece9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kjobwidgets-5.76.0.tar.xz">kjobwidgets-5.76.0</a></td>
   <td align="right">90kB</td>
   <td><tt>4b0051d52a7eca5159a204baefaf1b3e656b395e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/knewstuff-5.76.0.tar.xz">knewstuff-5.76.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>be9f628a1743bb2f3085c5ec841dd64948c561f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/knotifications-5.76.0.tar.xz">knotifications-5.76.0</a></td>
   <td align="right">117kB</td>
   <td><tt>e2142c7420ffb99de543c406db750ff665f22b6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/knotifyconfig-5.76.0.tar.xz">knotifyconfig-5.76.0</a></td>
   <td align="right">82kB</td>
   <td><tt>fb2d70fa63829fbcc2b27166bf6b2d7b2e8a90ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kpackage-5.76.0.tar.xz">kpackage-5.76.0</a></td>
   <td align="right">137kB</td>
   <td><tt>dae819bbaee1620cd51385fb7f928c85ee3b148b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kparts-5.76.0.tar.xz">kparts-5.76.0</a></td>
   <td align="right">185kB</td>
   <td><tt>006161febe865ca80a47bc97afa8872e187d419e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kpeople-5.76.0.tar.xz">kpeople-5.76.0</a></td>
   <td align="right">60kB</td>
   <td><tt>c0e623ef27bc76c472515df8bfbd5ee1d68e752f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kplotting-5.76.0.tar.xz">kplotting-5.76.0</a></td>
   <td align="right">30kB</td>
   <td><tt>aa91e6fbd3c528d6492e71f19206312bcb3361ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kpty-5.76.0.tar.xz">kpty-5.76.0</a></td>
   <td align="right">54kB</td>
   <td><tt>4249f8588458aca1674c8a938057a4fa2af9eab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kquickcharts-5.76.0.tar.xz">kquickcharts-5.76.0</a></td>
   <td align="right">93kB</td>
   <td><tt>c38966896f9d9a6b56d3cfebb155309666c0e6fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/krunner-5.76.0.tar.xz">krunner-5.76.0</a></td>
   <td align="right">68kB</td>
   <td><tt>0f2b69efda152bb4d9fc27529838dfe456768b67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kservice-5.76.0.tar.xz">kservice-5.76.0</a></td>
   <td align="right">253kB</td>
   <td><tt>c2cf332935639579ca7ec986bcb7f858e4fb1b28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/ktexteditor-5.76.0.tar.xz">ktexteditor-5.76.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>e90afc3d03c664a1a21fc5cd228733cad6d02888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/ktextwidgets-5.76.0.tar.xz">ktextwidgets-5.76.0</a></td>
   <td align="right">316kB</td>
   <td><tt>bfbaf2adb356f45cf402d6fc5f032ec4e290fa42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kunitconversion-5.76.0.tar.xz">kunitconversion-5.76.0</a></td>
   <td align="right">834kB</td>
   <td><tt>b988363440e9806ef5ae57dd1758779eec4e3f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kwallet-5.76.0.tar.xz">kwallet-5.76.0</a></td>
   <td align="right">292kB</td>
   <td><tt>31e63100b67f65e1710036668b19f32e7ba59f2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kwayland-5.76.0.tar.xz">kwayland-5.76.0</a></td>
   <td align="right">336kB</td>
   <td><tt>96e096faab9440affe10578459c5de2c8ed5c88e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kwidgetsaddons-5.76.0.tar.xz">kwidgetsaddons-5.76.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>6e0997358e283a4e02b412620e2953a6b966ff8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kwindowsystem-5.76.0.tar.xz">kwindowsystem-5.76.0</a></td>
   <td align="right">172kB</td>
   <td><tt>83a2e99ad0aaa2514fc30dd8e0fa103169df36d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/kxmlgui-5.76.0.tar.xz">kxmlgui-5.76.0</a></td>
   <td align="right">844kB</td>
   <td><tt>85ad49ea00e402c7f40ddcb41e35e2e924d1a797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/modemmanager-qt-5.76.0.tar.xz">modemmanager-qt-5.76.0</a></td>
   <td align="right">109kB</td>
   <td><tt>26fc17b27fd8a8684310261535f5d718009e13d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/networkmanager-qt-5.76.0.tar.xz">networkmanager-qt-5.76.0</a></td>
   <td align="right">190kB</td>
   <td><tt>5dd76ef64bb14bd57cd2b398689b883b97e904fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/oxygen-icons5-5.76.0.tar.xz">oxygen-icons5-5.76.0</a></td>
   <td align="right">225MB</td>
   <td><tt>410b10c1514de0ffa2963bd6ecdc71d1a903f2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/plasma-framework-5.76.0.tar.xz">plasma-framework-5.76.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>0c54de70b19dd40dd8f5121c7ff45fdb05154b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/prison-5.76.0.tar.xz">prison-5.76.0</a></td>
   <td align="right">40kB</td>
   <td><tt>6d8ae21ef9f4ce9573d510fab4d8cfa860ad500d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/purpose-5.76.0.tar.xz">purpose-5.76.0</a></td>
   <td align="right">154kB</td>
   <td><tt>925b1f83c5b1d17c490adc2080e7f14a8a12ed6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/qqc2-desktop-style-5.76.0.tar.xz">qqc2-desktop-style-5.76.0</a></td>
   <td align="right">58kB</td>
   <td><tt>9396713554c6f5a0d49818c84178550a9eb14700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/solid-5.76.0.tar.xz">solid-5.76.0</a></td>
   <td align="right">267kB</td>
   <td><tt>ac8180363aa7ac3b3935669ffde3459d27f1baf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/sonnet-5.76.0.tar.xz">sonnet-5.76.0</a></td>
   <td align="right">287kB</td>
   <td><tt>efa12e132badd8766d9967ac338500e80b5837b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/syndication-5.76.0.tar.xz">syndication-5.76.0</a></td>
   <td align="right">496kB</td>
   <td><tt>7af20c680eeb4f9a4ee5231eaa35824497f61589</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/syntax-highlighting-5.76.0.tar.xz">syntax-highlighting-5.76.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>691cd34f5320503115f41f13ded42abd3100a9ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.76/threadweaver-5.76.0.tar.xz">threadweaver-5.76.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f56a34c606bd970645536e299afc32c67d2e4105</tt></td>
</tr>

</table>
