<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/analitza-4.7.97.tar.bz2">analitza-4.7.97</a></td><td align="right">144KB</td><td><tt>3dea50990405f2e9f714735a223b58567dc3864a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/ark-4.7.97.tar.bz2">ark-4.7.97</a></td><td align="right">156KB</td><td><tt>fa8398bff17132331cd2148c5a2879d7ce94ace2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/blinken-4.7.97.tar.bz2">blinken-4.7.97</a></td><td align="right">588KB</td><td><tt>e11bb7a45db6974eb37518f3d1ac7fea2a92f397</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/cantor-4.7.97.tar.bz2">cantor-4.7.97</a></td><td align="right">272KB</td><td><tt>4f3e6e741117ecd73723c9fff7aa775ead8e429c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/filelight-4.7.97.tar.bz2">filelight-4.7.97</a></td><td align="right">300KB</td><td><tt>188d174fdcde0facc3e32217b469a437c1d020c3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/gwenview-4.7.97.tar.bz2">gwenview-4.7.97</a></td><td align="right">1.9MB</td><td><tt>b7e01c31558963e714954e02f211790a92b35748</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/jovie-4.7.97.tar.bz2">jovie-4.7.97</a></td><td align="right">372KB</td><td><tt>109cfe0b50551a39b46e965e37000b158729b43c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kaccessible-4.7.97.tar.bz2">kaccessible-4.7.97</a></td><td align="right">24KB</td><td><tt>1de6cf98b8ab6b2541339a05dbf19b36ad119857</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kactivities-4.7.97.tar.bz2">kactivities-4.7.97</a></td><td align="right">36KB</td><td><tt>867c885ad86054b827d5e5f11399a9252d68e7a5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kalgebra-4.7.97.tar.bz2">kalgebra-4.7.97</a></td><td align="right">432KB</td><td><tt>12a4e288057a0ac0c8bc2ea95905bcf47258b4f4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kalzium-4.7.97.tar.bz2">kalzium-4.7.97</a></td><td align="right">3.9MB</td><td><tt>1bf0f3fdc2428cd13653c70bf3e49596bedfc415</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kamera-4.7.97.tar.bz2">kamera-4.7.97</a></td><td align="right">40KB</td><td><tt>aba8227c6ea128e9e1205a7a4fb34bb3025da390</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kanagram-4.7.97.tar.bz2">kanagram-4.7.97</a></td><td align="right">640KB</td><td><tt>b8b07381ec72ae0dbaec72f711eff4e0c58b42f3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kate-4.7.97.tar.bz2">kate-4.7.97</a></td><td align="right">2.2MB</td><td><tt>42167ab1e037e7ceaea15a1b7782c98a24730ce8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kbruch-4.7.97.tar.bz2">kbruch-4.7.97</a></td><td align="right">936KB</td><td><tt>e0bed8c63b69d5d6be4125ddb6013d88df0899e6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kcalc-4.7.97.tar.bz2">kcalc-4.7.97</a></td><td align="right">92KB</td><td><tt>5291b8a5b1b0c97dc0e6add0d9ed038f3acdba32</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kcharselect-4.7.97.tar.bz2">kcharselect-4.7.97</a></td><td align="right">92KB</td><td><tt>e73359c349f922c62d7d6f61067af5c1628471b2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kcolorchooser-4.7.97.tar.bz2">kcolorchooser-4.7.97</a></td><td align="right">8.0KB</td><td><tt>cba62e106f926a48108fbb956060b38bb0645541</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdeadmin-4.7.97.tar.bz2">kdeadmin-4.7.97</a></td><td align="right">784KB</td><td><tt>770195155982d783952856c890aee8bf971ebf61</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdeartwork-4.7.97.tar.bz2">kdeartwork-4.7.97</a></td><td align="right">137MB</td><td><tt>ada3eec0be27a35779fefce0ef419ab8eff43ee6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kde-baseapps-4.7.97.tar.bz2">kde-baseapps-4.7.97</a></td><td align="right">2.7MB</td><td><tt>5ce9e623724f5ce8f2b6c20ccbdf67e2d2f53d51</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kde-base-artwork-4.7.97.tar.bz2">kde-base-artwork-4.7.97</a></td><td align="right">15MB</td><td><tt>c9bb65030bb7245769a0c04b25265b554d5b4794</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdegames-4.7.97.tar.bz2">kdegames-4.7.97</a></td><td align="right">61MB</td><td><tt>3be936cc7a7c84b7fbf3b79da59dc65a3a37712b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdegraphics-strigi-analyzer-4.7.97.tar.bz2">kdegraphics-strigi-analyzer-4.7.97</a></td><td align="right">44KB</td><td><tt>1e2dd406ca3bf34df31c6a8fae65a170aa77b849</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdegraphics-thumbnailers-4.7.97.tar.bz2">kdegraphics-thumbnailers-4.7.97</a></td><td align="right">44KB</td><td><tt>ebe91aed71b5a89f412ffb90075d3430c8757f2b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdelibs-4.7.97.tar.bz2">kdelibs-4.7.97</a></td><td align="right">13MB</td><td><tt>aded65a18f5320d988d9da6da15cd16af9c1aa43</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdemultimedia-4.7.97.tar.bz2">kdemultimedia-4.7.97</a></td><td align="right">1.6MB</td><td><tt>12502197959f01aeedb1abda9ee56f9a312cd5a4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdenetwork-4.7.97.tar.bz2">kdenetwork-4.7.97</a></td><td align="right">9.6MB</td><td><tt>81f146577669e1c26d875045ede6144437392526</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdepim-4.7.97.tar.bz2">kdepim-4.7.97</a></td><td align="right">16MB</td><td><tt>03976423c5154052f32e1333ef73f6d03bcb4ef9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdepimlibs-4.7.97.tar.bz2">kdepimlibs-4.7.97</a></td><td align="right">3.2MB</td><td><tt>034ca6486dcef06cfa9ef4f8059b897be9069ebe</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdepim-runtime-4.7.97.tar.bz2">kdepim-runtime-4.7.97</a></td><td align="right">1.3MB</td><td><tt>38e1f94e6e460647572bb360f825d9555bd87342</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdeplasma-addons-4.7.97.tar.bz2">kdeplasma-addons-4.7.97</a></td><td align="right">2.0MB</td><td><tt>00a755c401f0594fdcd0fdbd3773ab5c3ec04fbf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kde-runtime-4.7.97.tar.bz2">kde-runtime-4.7.97</a></td><td align="right">5.9MB</td><td><tt>8384854a3ba5c3edf5bbbd08a3aafb53f2088f0a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdesdk-4.7.97.tar.bz2">kdesdk-4.7.97</a></td><td align="right">5.2MB</td><td><tt>429c567cf97bd2a05076dcdc79397bb66be1cb70</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdetoys-4.7.97.tar.bz2">kdetoys-4.7.97</a></td><td align="right">400KB</td><td><tt>b7d2002e67f429c93172c019513b618ec0b9b546</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kde-wallpapers-4.7.97.tar.bz2">kde-wallpapers-4.7.97</a></td><td align="right">63MB</td><td><tt>e40d28f79e1b8724d3014a805663d52d9b582304</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdewebdev-4.7.97.tar.bz2">kdewebdev-4.7.97</a></td><td align="right">2.7MB</td><td><tt>accd2857d98a6d3f62d4a961e85d14166e558587</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kde-workspace-4.7.97.tar.bz2">kde-workspace-4.7.97</a></td><td align="right">35MB</td><td><tt>a48197748c59edf0849f0a964f6e0a9a0596538c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kdf-4.7.97.tar.bz2">kdf-4.7.97</a></td><td align="right">164KB</td><td><tt>0fef7e853126d600b4b3c9161c8b71ef6850f777</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kfloppy-4.7.97.tar.bz2">kfloppy-4.7.97</a></td><td align="right">64KB</td><td><tt>fd83a0c9644bf84df8bea09120aa9d7275f13e96</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kgamma-4.7.97.tar.bz2">kgamma-4.7.97</a></td><td align="right">28KB</td><td><tt>0c96b1ede6e52fae1984958e41e1b66756a1d08e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kgeography-4.7.97.tar.bz2">kgeography-4.7.97</a></td><td align="right">6.6MB</td><td><tt>10ccddf15dc2f7f0e0e0df452a171624cc298c85</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kgpg-4.7.97.tar.bz2">kgpg-4.7.97</a></td><td align="right">824KB</td><td><tt>6c876bc446b446f2a673b923eb89b4676f60de9b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/khangman-4.7.97.tar.bz2">khangman-4.7.97</a></td><td align="right">1.3MB</td><td><tt>98fca0a79e5f7a1ad3dc09fd17db9f35caca60b5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kig-4.7.97.tar.bz2">kig-4.7.97</a></td><td align="right">1.6MB</td><td><tt>bf08129550e6a8a14c515a643c5482800a3acfac</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kimono-4.7.97.tar.bz2">kimono-4.7.97</a></td><td align="right">980KB</td><td><tt>e657f1371ac800419599b609fa5f22ca222ddd83</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kiten-4.7.97.tar.bz2">kiten-4.7.97</a></td><td align="right">11MB</td><td><tt>7f20baa447672cdb46dc483d72f9690f63b39d6a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/klettres-4.7.97.tar.bz2">klettres-4.7.97</a></td><td align="right">2.7MB</td><td><tt>668869a40d194dd9dd5918a5d610dcf7e0bdf22f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kmag-4.7.97.tar.bz2">kmag-4.7.97</a></td><td align="right">96KB</td><td><tt>8eac56063c7ed6d81c8078e2a8b93bb81d8de435</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kmousetool-4.7.97.tar.bz2">kmousetool-4.7.97</a></td><td align="right">48KB</td><td><tt>a2daf729557e41b25c353a60d3638622cd295f60</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kmouth-4.7.97.tar.bz2">kmouth-4.7.97</a></td><td align="right">328KB</td><td><tt>9ffbd1f7f88c82ecf01fbe9bac20602b58d6d993</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kmplot-4.7.97.tar.bz2">kmplot-4.7.97</a></td><td align="right">692KB</td><td><tt>3bc48b37c661ae2257dea8cdd0e9c37f65c90779</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kolourpaint-4.7.97.tar.bz2">kolourpaint-4.7.97</a></td><td align="right">1.2MB</td><td><tt>3c6f85d9d5841dcdd63d460000b6810d54a73a9c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/konsole-4.7.97.tar.bz2">konsole-4.7.97</a></td><td align="right">468KB</td><td><tt>7715655c5a0f0efaab1b015ea12950080a7e7da1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/korundum-4.7.97.tar.bz2">korundum-4.7.97</a></td><td align="right">176KB</td><td><tt>a55d7cd301aa4058f3ee91956f5680eb48004d3c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kremotecontrol-4.7.97.tar.bz2">kremotecontrol-4.7.97</a></td><td align="right">1.1MB</td><td><tt>9fe39efdbfe7e4d26980669474b420b3118bce8a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kross-interpreters-4.7.97.tar.bz2">kross-interpreters-4.7.97</a></td><td align="right">136KB</td><td><tt>4c0e2543098acc93acc1c3e692278822d6422077</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kruler-4.7.97.tar.bz2">kruler-4.7.97</a></td><td align="right">140KB</td><td><tt>a4b35f12f1c76e5c0b43fb752cf067eefae5fabf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/ksaneplugin-4.7.97.tar.bz2">ksaneplugin-4.7.97</a></td><td align="right">16KB</td><td><tt>6be2fd9d016431dbda3247d9f2d7dc4488816263</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/ksecrets-4.7.97.tar.bz2">ksecrets-4.7.97</a></td><td align="right">148KB</td><td><tt>780e7010ed098c6d1b65b6d5549d4a9606b383a4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/ksnapshot-4.7.97.tar.bz2">ksnapshot-4.7.97</a></td><td align="right">268KB</td><td><tt>ad13735593b73af9367b6bf59582c643aa620732</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kstars-4.7.97.tar.bz2">kstars-4.7.97</a></td><td align="right">13MB</td><td><tt>62b417ed92a09fdf8f00859d231a75b2d0331f95</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/ktimer-4.7.97.tar.bz2">ktimer-4.7.97</a></td><td align="right">164KB</td><td><tt>c0bc6886a325dcbcf246a6328ac693bb71661d02</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/ktouch-4.7.97.tar.bz2">ktouch-4.7.97</a></td><td align="right">1.9MB</td><td><tt>2192b4844f3c2ced96dcc41dcb135b35fa435440</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kturtle-4.7.97.tar.bz2">kturtle-4.7.97</a></td><td align="right">224KB</td><td><tt>59e6b0f89d1b023d6bd25da3e8d10aae7f46adae</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kwallet-4.7.97.tar.bz2">kwallet-4.7.97</a></td><td align="right">296KB</td><td><tt>73d301b9fb393788a52e1da344c8d1df372e784a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/kwordquiz-4.7.97.tar.bz2">kwordquiz-4.7.97</a></td><td align="right">1.3MB</td><td><tt>a5dd2dd5daaaef11827d2984fba9e757865fbfd4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/libkdcraw-4.7.97.tar.bz2">libkdcraw-4.7.97</a></td><td align="right">300KB</td><td><tt>b0aabc3bea00698feed45f180516cbb1c8668e88</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/libkdeedu-4.7.97.tar.bz2">libkdeedu-4.7.97</a></td><td align="right">224KB</td><td><tt>4be06090b25247209bbd48c1fb8f73c79b9fabc9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/libkexiv2-4.7.97.tar.bz2">libkexiv2-4.7.97</a></td><td align="right">140KB</td><td><tt>4f58b9203a5810308d425f4b49876ac3015d2589</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/libkipi-4.7.97.tar.bz2">libkipi-4.7.97</a></td><td align="right">80KB</td><td><tt>1ab76e3d3330418b3a88098601f5f5f61bc03f3d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/libksane-4.7.97.tar.bz2">libksane-4.7.97</a></td><td align="right">84KB</td><td><tt>e054587283f4c528ae0c1cea4b716081547b57b7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/marble-4.7.97.tar.bz2">marble-4.7.97</a></td><td align="right">21MB</td><td><tt>7b91f34d79c13dc3cac47f53249cddfe229251e3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/mobipocket-4.7.97.tar.bz2">mobipocket-4.7.97</a></td><td align="right">20KB</td><td><tt>a5f5e49f030bc9661afe3afdf76955b6b9d48ac2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/okular-4.7.97.tar.bz2">okular-4.7.97</a></td><td align="right">1.2MB</td><td><tt>202e61f86ba2ed2362d6c112152a8a05527e5f48</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/oxygen-icons-4.7.97.tar.bz2">oxygen-icons-4.7.97</a></td><td align="right">356MB</td><td><tt>a7197de08f802dd0dc798c5fcd88cc33f6f60d2a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/parley-4.7.97.tar.bz2">parley-4.7.97</a></td><td align="right">11MB</td><td><tt>221805bede547f456ec129f8f35ff7b39b83f6cc</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/perlkde-4.7.97.tar.bz2">perlkde-4.7.97</a></td><td align="right">40KB</td><td><tt>509832fd992ca034ab283193329b2d135eec2b87</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/perlqt-4.7.97.tar.bz2">perlqt-4.7.97</a></td><td align="right">1.9MB</td><td><tt>01210346c5b837bb053e9a96275010090022bf0e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/printer-applet-4.7.97.tar.bz2">printer-applet-4.7.97</a></td><td align="right">40KB</td><td><tt>7579b1f1a6a202a061acc850be3dbeefb2835d4d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/pykde4-4.7.97.tar.bz2">pykde4-4.7.97</a></td><td align="right">2.1MB</td><td><tt>2d5c94f5e8d369d295a273ae0d2e4f7a13d2a055</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/qtruby-4.7.97.tar.bz2">qtruby-4.7.97</a></td><td align="right">584KB</td><td><tt>887bbfd987c5f2c9ddac7ddd355991e73b7f545d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/qyoto-4.7.97.tar.bz2">qyoto-4.7.97</a></td><td align="right">544KB</td><td><tt>aa528ea43b4da946c8585caabe62ad37204562c0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/rocs-4.7.97.tar.bz2">rocs-4.7.97</a></td><td align="right">700KB</td><td><tt>07708199dc97d6c033450930e96c140df6c19d46</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/smokegen-4.7.97.tar.bz2">smokegen-4.7.97</a></td><td align="right">148KB</td><td><tt>fa86523655cbf662276fdb7b7fa518ca15d86b3b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/smokekde-4.7.97.tar.bz2">smokekde-4.7.97</a></td><td align="right">40KB</td><td><tt>c10d35c40124d0c25e7db548adbe9bacc68721b6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/smokeqt-4.7.97.tar.bz2">smokeqt-4.7.97</a></td><td align="right">32KB</td><td><tt>2e120e2b88dac2d70b779cc4524af9d2f0a48b1a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/step-4.7.97.tar.bz2">step-4.7.97</a></td><td align="right">400KB</td><td><tt>0866a4c88090e1e3254e01cfff78455202dae4ab</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/superkaramba-4.7.97.tar.bz2">superkaramba-4.7.97</a></td><td align="right">404KB</td><td><tt>e6e0847eef5a7856ba5420e1f36488c0ea55ec30</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/svgpart-4.7.97.tar.bz2">svgpart-4.7.97</a></td><td align="right">12KB</td><td><tt>21e1d2e50d0afaa1d637d2fc0bf223a2a21c355a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/unstable/4.7.97/src/sweeper-4.7.97.tar.bz2">sweeper-4.7.97</a></td><td align="right">88KB</td><td><tt>9d5a3c7b84b97a0f11d741ffcf99b096504db15d</tt></td></tr>
</table>
