#KGlobalHeader {
	position: relative;
	width: 100%;
	height: auto;
	z-index: 999;
	background-color: white;
}

#KGlobalHeader a {
	outline: none;
}

/* Specific Styles for Neon Header */
.KNeonHeader {
	margin-top: -50px;
	margin-bottom: -70px;
	background-color: transparent !important;
}
.KNeonHeader:after {
	bottom: 70px;
}
/* End ~ Specific Styles for Neon Header */

#kHeaderNav {
	padding: 0;
	margin: 0px auto;
	width: 100%;
	height: auto;
	min-height: 50px;
	max-width: 1040px;
	box-sizing: border-box;
	font-size: 14px;
	display: block;
}

#kHeaderNav a.active {
	background-color: #54a3d8;
	color: #FFF;
	/*text-shadow: 0px 0px 1px #375a7d;*/
}
#kHeaderNav a.active:before {
	color: #FFF;
}
#kHeaderNav a.active:hover {
	color: #FFF;
}

#kHeaderNav button {
	outline: 0;
}

#KGlobalLogo {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -999px;
	margin: 0px;
	padding: 0px !important;
	background-color: #54a3d8;
}

#KGlobalLogo:before {
	position: absolute;
	top: 0;
	left: 50%;
	width: 42px;
	margin-left: -21px;
	content: "K";
	color: white;
	font-family: "glyph";
	font-size: 32px;
	font-weight: normal;
	text-indent: 0px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	text-decoration: none !important;
}

#KGlobalLogo:hover:before {
	color: white;
}

.navbar-toggler {
	height: 50px;
}

.navbar-toggler:before {
	position: absolute;
	top: 0;
	right: 20px;
	width: 42px;
	content: "=";
	color: #4d4d4d;
	font-family: "glyph";
	font-size: 22px;
	font-weight: normal;
	text-indent: 0px;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	text-decoration: none !important;
}

#kHeaderNav .navbar-collapse a {
	height: 50px;
	line-height: 50px;
	padding: 0px 20px;
	color: #334545;
	display: inline-block;
}

#kHeaderNav .navbar-collapse a.active {
	background-color: #54a3d8;
	color: #FFF;
	/*text-shadow: 0px 0px 1px #375a7d;*/
}
#kHeaderNav .navbar-collapse a.active:before {
	color: #FFF;
}
#kHeaderNav .navbar-collapse a.active:hover {
	color: #FFF;
}

#kHeaderNav .navbar-collapse a:hover {
	color: #3daefd;
}

#kHeaderNav .navbar-collapse .navbar-nav {
	list-style: none;
	margin: 0;
	padding-left: 50px;
	width: auto;
}

@media (max-width: 800px) {
	#kHeaderNav .navbar-collapse .navbar-nav {
		padding-top: 50px;
		padding-left: 0;
	}
}

@media (max-width: 500px) {
	#kHeaderNav .navbar-collapse .navbar-nav {
		padding-top: 50px;
		padding-left: 0;
	}
}

#kHeaderNav .navbar-collapse .navbar-nav .nav-item {
	display: inline-block;
}

#kHeaderNav .navbar-collapse .navbar-nav .nav-item a {
	text-decoration: none;
}

#kHeaderNav .show {
	background-color: white;
	width: 100%;
	height: auto;
}
