{{ define "main" }}
  {{ if .Params.hero_image }}
  <figure  style="background-image: url({{ .Params.hero_image }});" class="hero-image w-100" alt="{{ partial "fn/i18n_title" . }}" ></figure>
  {{ end }}
  <main class="container">
    {{ partial "breadcrumb.html" . }}
    {{ if not .Params.hide_title }}
      <h1>{{ partial "fn/i18n_title" . }}</h1>
      {{ if .Date }}
      <p>{{ partial "i18n_date.html" . }}</p>
      {{ end }}
    {{ end }}

    {{ .Content }}

    {{ if not .Params.custom_about }}
      {{ partialCached "announcements/about_kde.html" . }}
    {{ end }}
    {{ if not .Params.custom_contact }}
      {{ partialCached "announcements/press_contacts.html" . }}
    {{ end }}
    {{ partial "copyright.html" . }}
  </main>
{{ end }}
